/* Set a background color and font for the entire page */
body {
  background-color: rgb(41, 41, 41);
  font-family: Arial, sans-serif;
}
  
/* Style the container */
.container {
  width: 80em;
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
/* Style the header image */
img {
  display: block;
  margin: 0 auto;
  width: 60em;
}
  
/* Style sections */
.section {
  margin-top: 20px;
  color: aliceblue;
}
  
/* Style section headings */
.section h2 {
  font-size: 24px;
  background: linear-gradient(to bottom, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
/* Style lists */
ul {
  margin: 0px;
  padding: 0px;
  text-align: left;
}
  
/* Style links */
a {
  color: #007BFF;
  text-decoration: none;
}
  
/* Style links on hover */
a:hover {
  text-decoration: underline;
}