/* Style the container */
.container {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
  
/* Style the header image */
img {
  max-width: 100%;                                /* 100% of parent container */
  display: block;
  margin: 0 auto;
}
  
/* Style sections */
.section {
  margin-top: 2rem;
  color: aliceblue;
}
  
/* Style section headings */
.section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to bottom, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  
/* Style lists */
ul {
  margin: 0rem;
  padding: 0rem;
  text-align: left;
}
  
/* Style links */
a {
  color: #007BFF;
  text-decoration: none;
}
  
/* Style links on hover */
.link-authors:hover {
  text-decoration: underline;
}

/* Increase font size and icon size on small screens */
@media (max-width: 1080px) {

  .container {
    margin-top: 7rem;
    max-width:max-content;
  }

  .section h2 {
    font-size: 4rem;
  }

  .section {
    font-size: 3rem;
  }
}