/* Style the container */
.container {
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

/* Style the header image */
img {
  max-width: 100%;                                /* 100% of parent container */
  display: block;
  margin: 0 auto;
}

/* Style sections */
.section {
  margin-top: 2rem;
  color: aliceblue;
}

/* Style section headings */
.section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(to bottom, red, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section td img {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  display: block;
  margin-top: 0.5rem;
}

/* Style table */
.section table {
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}

.section th{
  text-align: left;
}

/* Increase font size and icon size on small screens */
@media (max-width: 1080px) {

  .container {
    margin-top: 7rem;
    max-width:max-content;
  }

  .section h2 {
    font-size: 4rem;
  }

  .section td {
    min-width: 8rem; /* Adjust as needed */
  }

  .section td img {
    width: 8rem;
    height: 8rem;
    margin-top: 1rem;
  }

  .section td span {
    font-size: 2rem;
  }
}