
/* Apply a background color to the body */
body {
  background-color: rgb(41, 41, 41);
  font-family: Arial, sans-serif;
}

/* Apply settings so navbar is transparent */
.navbar {
  background-color: transparent !important;
}

/* Change navbar icon size */
.navbar-icon {
  width: 50px;
  height: 50px;
}


/*/* Apply settings so image is centered */
.header-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 20px;
}

/* Navbar padding */
.navbar {
  padding-top: 10px;
  padding-left: 10px;
}

/* Padding for the navbar icon*/
.navbar-toggler {
  padding-top: 10px;
  padding-left: 10px;

  border: none;
  background-color: transparent;
}

.offcanvas-header{
  background: linear-gradient(to bottom, red, rgb(56, 56, 252)); /* Apply linear gradient to the text color */
  -webkit-background-clip: text; /* Set the background clip to text for webkit browsers */
  -webkit-text-fill-color: transparent; /* Set the text fill color to transparent for webkit browsers */
}

.nav-link {
  color: aliceblue !important;
}

.nav-icon{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: inline-block;
  margin-right: 10px;
}

.nav-link:hover {
  background: linear-gradient(to bottom, red, rgb(56, 56, 252)); /* Apply linear gradient to the text color */
  -webkit-background-clip: text; /* Set the background clip to text for webkit browsers */
  -webkit-text-fill-color: transparent; /* Set the text fill color to transparent for webkit browsers */
}

.offcanvas {
  background-color: rgba(41, 41, 41, 0.8); /* black with 80% opacity */
}
/*
/*.button-container {
/*  display: flex;
/*  justify-content: center; /* Center the content horizontally */
/*  align-items: center; /* Center the content vertically */
/*  height: 10vh; /* Adjust the height as needed */
/*}
/*
/*.button-new_game {
/*  background: url('/assets/images/stones/stone_R.png') no-repeat center;
/*}
/*
/*.button-help {
/*  background: url('/assets/images/stones/stone_P.png') no-repeat center;
/*}
/*
/*.button-about {
/*  background: url('/assets/images/stones/stone_B.png') no-repeat center;
/*}
/*
/*.button-container a {
/*  text-decoration: none; /* Remove underlining from the anchor tags */
/*}
/*
/*.button-new_game,
/*.button-help,
/*.button-about {
/*  position: relative;
/*  width: 100px;
/*  height: 100px;
/*  border: 2px solid transparent;
/*  background-size: contain;
/*  transition: border-color 0.3s; /* Smooth color transition on hover */
/*  display: flex;
/*  align-items: center;
/*  justify-content: center;
/*  margin-top: 10em;
/*  margin-left: 3em;
/*}
/*
/*.button-new_game::before, 
/*.button-help::before,
/*.button-about::before{
/*  content: '';
/*  position: absolute;
/*  top: -10%;
/*  left: -10%;
/*  width: 120%;
/*  height: 120%;
/*  border: 2px solid transparent;
/*  transition: border-color 0.3s; /* Add a transition effect for border color change */
/*  mix-blend-mode: screen; /* Set mix-blend-mode property */
/*  filter: blur(15px); /* Add blur effect */
/*  border-radius: 50%; /* Make the circle round */
/*}
/*
/*.button-new_game:hover::before ,
/*.button-help:hover::before,
/*.button-about:hover::before{
/*  border-color: #ff7e5f; /* Set the glow color when hovering over the button */
/*}
/*
/*.button-text {
/*  font-size: 3em;
/*  font-weight: bold;
/*  text-align: center;
/*  margin-top: 3.5em; /* Adjust the margin as needed */
/*  text-decoration: none;
/*  background: linear-gradient(to bottom, red, blue); /* Apply linear gradient to the text color */
/*  -webkit-background-clip: text; /* Set the background clip to text for webkit browsers */
/*  -webkit-text-fill-color: transparent; /* Set the text fill color to transparent for webkit browsers */
/*  background-clip: text; /* Set the background clip to text for other browsers */
/*  color: transparent; /* Set the text color to transparent for other browsers */
/*}
/*