/* Apply a background color to the body */
body {
  background-color: rgb(41, 41, 41);
  font-family: Arial, sans-serif;
}

/* Apply settings so navbar is transparent */
.navbar {
  background-color: transparent !important;
  padding-top: 10px;
  padding-left: 10px;
}

/* Change navbar icon size */
.navbar-icon {
  width: 50px;
  height: 50px;
}


/* Padding for the navbar icon*/
.navbar-toggler {
  padding-top: 10px;
  padding-left: 10px;

  border: none;
  background-color: transparent;
}

.offcanvas-header{
  background: linear-gradient(to bottom, red, rgb(56, 56, 252)); /* Apply linear gradient to the text color */
  -webkit-background-clip: text; /* Set the background clip to text for webkit browsers */
  -webkit-text-fill-color: transparent; /* Set the text fill color to transparent for webkit browsers */
}

.nav-link {
  color: aliceblue !important;
}

.nav-icon{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  display: inline-block;
  margin-right: 10px;
}

.nav-link:hover {
  background: linear-gradient(to bottom, red, rgb(56, 56, 252)); /* Apply linear gradient to the text color */
  -webkit-background-clip: text; /* Set the background clip to text for webkit browsers */
  -webkit-text-fill-color: transparent; /* Set the text fill color to transparent for webkit browsers */
}

.offcanvas {
  background-color: rgba(41, 41, 41, 0.8); /* black with 80% opacity */
}