@import de.htwg.se.mastermind.model.GameComponent.GameBaseImpl.Stone
@import play.api.libs.json.{JsValue, JsObject}

@(game_json: JsObject, currentStoneVector: Vector[Stone] ,error: String)


@main("Can you guess the code?") {

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/displayGame.css")">

  <!-- Scripts -->
  <script type="text/javascript" src="@routes.Assets.versioned("javascripts/sparticles.js")"></script>
  <script type=text/javascript src="@routes.Assets.versioned("javascripts/displayGame.js")"></script>
  
  <script>
    (function() {
      window.onload = function() {
        window.mySparticles = new Sparticles({shape: "image",minSize: 10, maxSize: 100 ,imageUrl: ["/assets/images/stones/stone_Siluette_small.png"], color: ["blue", "red", "purple"], count: 100});
      }
    }());
  </script>

  <body>

    <!-- Header -->
    <img src="@routes.Assets.versioned("images/mastermind_header_cropped.png")" class="logo-img">

    <div class="game-container">
      <!-- Game box (stones) -->
      <div class="game-box">
        @for(row <- (game_json \ "matrix").as[List[JsValue]]) {       
          @if((row \ "row") == (game_json \ "turn")) {
            <div class="game-row">
            @for((cell, index) <- (row \ "cells").as[List[JsValue]].zipWithIndex) {
              <img src="@routes.Assets.versioned("images/stones/stone_A.png")" class="stone-cell"
              onmouseover="startChangeStone(this, @index)" onmouseout="stopChangeStone(this, @index)">
            }
            </div>
          } else {
            <div class="game-row">
              @for(cell <- (row \ "cells").as[List[JsValue]]) {
                <img src="@routes.Assets.versioned("images/stones/stone_" + cell("value").as[String] + ".png")" class=stone-cell-locked><img/>
              }
            </div>
          }
        }
      </div>  <!-- End of game-box -->

      <!-- Hintstone box -->
      <div class="hintstone-box">
        @for(row <- (game_json \ "hmatrix").as[List[JsValue]]) {
          <div class="game-row">
            @for(cell <- (row \ "cells").as[List[JsValue]]) {
                <img src="@routes.Assets.versioned("images/hintstones/hstone_" + cell("value").as[String] + ".png")" class=hintstone-cell><img/>
            }
          </div>
        }
      </div>  <!-- End of hintstone-box -->
    </div>    <!-- End of game-container -->

    <!-- Place stones -->
    <button class="placeStonesButton" onclick="placeStones()">Place Stones</button>

  </body>       <!-- End of body -->
}