@import de.htwg.se.mastermind.model.GameComponent.GameBaseImpl.Stone
@import play.api.libs.json.{JsValue, JsObject}

@(game_json: JsObject, currentStoneVector: Vector[Stone] ,error: String)

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>YOU LOOSE</title>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/displayLosePage.css")">

    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/sparticles.js")"></script>
    <script>
        (function() {
        window.onload = function() {
            window.mySparticles = new Sparticles({shape: "image",minSize: 10, maxSize: 100 ,imageUrl: ["/assets/images/stones/stone_Siluette_small.png"], color: ["red"], count: 100});
        }
        }());
    </script>
</head>

@main("Mastermind Online") {
<body>
    <div class="header-container">
        <div class="top-bar">
            <img src="@routes.Assets.versioned("images/loose.png")" class="logo-img" width="600">
        </div>
        <div class="center" style="text-align: center;">
            <div class="game-container">
                <div class="game-box">
                    <h3 id="demo" style="font-family: monospace; font-size: 22px; display: inline-block;">
                        @for(row <- (game_json \ "matrix").as[List[JsValue]]) {       
                            <div class="game-row">
                                @for(cell <- (row \ "cells").as[List[JsValue]]) {
                                    <img src="@routes.Assets.versioned("images/stones/stone_R.png")" class=stone-cell-locked><img/>
                                }
                            </div>
                        }
                    </h3>
                </div>
                <div class="hintstone-box">
                    <h3 style="font-family: monospace; font-size: 22px; display: inline-block;">
                        @for(row <- (game_json \ "hmatrix").as[List[JsValue]]) {
                            <div class="game-row">
                                @for(cell <- (row \ "cells").as[List[JsValue]]) {
                                    <img src="@routes.Assets.versioned("images/hintstones/hstone_E.png")" class=hintstone-cell><img/>
                                }
                            </div>
                        }
                    </h3>
                </div>
            </div>
            <a href="@routes.HomeController.createGame()">
                <button class="placeStonesButton">Play Again</button>
            </a>
    </div>
</body>
}