@()

<head>
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
</head>

@main("Mastermind Online") {
  @()

  <div class="header-container">
    <ul>
      <li><a href="@routes.HomeController.displayGame()">New Game</a></li>
      <li><a href="@routes.HomeController.help()">Help</a></li>
      <li style="float:right"><a class="active" href="@routes.HomeController.about()">About</a></li>
    </ul>
    <img src="@routes.Assets.versioned("images/mastermind_header.png")"/>
    <!--
    <div class="button-container">
      <button class="my-button-class" onclick="window.location.href='@routes.HomeController.displayGame()';">New Game</button>
      <button class="my-button-class" onclick="window.location.href='@routes.HomeController.about()';">About</button>
      <button class="my-button-class" onclick="window.location.href='@routes.HomeController.help()';">Help</button>
    </div>
    -->
  </div>
}