@()

<head>
  <link rel="stylesheet/less" type="text/css" href="index.less" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
</head>

@main("Mastermind Online") {
  @()

  <div class="header-container">
    <img src="@routes.Assets.versioned("images/mastermind_header.png")" height="276" width="873"/>
    <div class="button-container">
      <button class="my-button-class" onclick="loadDisplayGamePage()">New Game</button>
      <button class="my-button-class" onclick="loadAboutPage()">About</button>
      <button class="my-button-class" onclick="loadHelpPage()">Help</button>
    </div>
  </div>
}

<!-- Java Script for click event on About Button -->
<script>
  function loadAboutPage() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        document.body.innerHTML = xhr.responseText;
        history.pushState(null, null, "@routes.HomeController.about().url");
      }
    };
    xhr.open("GET", "@routes.HomeController.about().url", true);
    xhr.send();
  }
</script>

<script>
  function loadHelpPage() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        document.body.innerHTML = xhr.responseText;
        history.pushState(null, null, "@routes.HomeController.help().url");
      }
    };
    xhr.open("GET", "@routes.HomeController.help().url", true);
    xhr.send();
  }
</script>

<script>
  function loadDisplayGamePage() {
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
      if (xhr.readyState === 4 && xhr.status === 200) {
        document.body.innerHTML = xhr.responseText;
        history.pushState(null, null, "@routes.HomeController.displayGame().url");
      }
    };
    xhr.open("GET", "@routes.HomeController.displayGame().url", true);
    xhr.send();
  }
</script>

<!-- Java Script for click event on Reverse Button in the Browser -->
<script>
  window.addEventListener("popstate", function(event) {
    if (event.state === null) {
      location.reload();
    }
  });
  </script>