@()

@main("Mastermind: Multiplayer") {

  <!-- Stylesheets -->
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/index.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/background.css")">


  <script type=text/javascript src="@routes.Assets.versioned("javascripts/multiplayer.js")"></script>
    
  <body>
    <div class="game" style="top: 0">
        <div class="header-container">
          <div class="top-bar"> 
            <img src="@routes.Assets.versioned("images/mastermind_header_cropped.png")" class="header-image">
          </div>
          <div class="center" style="text-align: center;">
              <div class="game-container">
                  <!-- Game box (stones) -->
                  <div class="game-box">
                    <!-- Will be rendered by javascript -->
                  </div>
                  <!-- Hintstone box -->
                  <div class="hintstone-box">
                    <!-- Will be rendered by javascript -->
                  </div>
              </div>    <!-- End of game-container -->
              <button class="placeStonesButton">Place Stones</button>
          </div>
        </div>
      </div>
  </body>
}