@()

@main("ERROR-404"){
    <div class="header-container">
        <img src="@routes.Assets.versioned("images/mastermind_404.png")" height="276" width="873"/>
  
        <h1>Whoops! Looks like you placed some stones where you shouldn't</h1>
        <h1>Error 404 Page not found. Sorry about that.</h1>
      </div>

    <style>
        .header-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-family: 'Roboto', sans-serif;
        }
    </style>
}